.listItem {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemBox {
  display: flex;
  flex-direction: column;
}
